{
  "name": "com.passwordmanager.host",
  "description": "Password Manager Native Messaging Host",
  "path": "@BINARY_PATH@",
  "type": "stdio",
  "allowed_extensions": [
    "{BDC2D65D-871C-47C0-8824-7F50234E35A8}"
  ]
}
